/* Generic styles */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: helvetica;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
/* End of generic styles */

header {
  height: 60px;
}

hr {

}

nav, .container {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0px 30px;
}

nav a:not(:last-child) {
  border-right: 1px solid black;
}

.main {
  display: block;
  width: 960px;
  height: 510px;
  margin: auto;
}

article {
  height: 195px;
  width: 400px;
  margin: auto;
  padding-top: 20px;
  border-top: 2px solid #dedede;
}

article:last-child {
  border-bottom: 2px solid #dedede;
}

.content {
  display: inline-block;
  width: 660px;
  float: left;
}

.imageContainer {
  float:left;
  padding-left: 20px;
}

.textContainer {
  float: left;
  width: 205px;
  padding: 0px 15px;
}

.italic {
  font-style: italic;
}

.imageContainer img {
  border-radius: 4px;
}

.textContainer .title {
  color: forestgreen;
  font-size: 14px;
  font-weight: 700;
}

.textContainer p {
  font-size: 12px;
  margin-bottom: -5px;
}

.title .author {
  font-weight: 300;
  font-size: 11px;
}

.comment img {
  float: left;
  margin: 2px 5px 0px 0px;
}

.comment p {
  color: forestgreen;
}

.sidebar {
  display: inline-block;
  width: 300px;
  float: right;
  /* Set height and background-color due to no sidebar content */
  height: 510px;
  background-color: gray;
}

footer {
  text-align: center;
}